/* You can add global styles to this file, and also import other style files */

.centralizar{
    text-align: center;
   
}

body{
    background-color: #00ff7b91;
}
.centralizar {
  text-align: center;
}

.direita {
  text-align: right;
}

.body {
  background-color: rgb(226, 226, 226);
}
