<div class="container ">

    <div class="row">


        <div class="col-lg-3 centralizar topo">

            <div class="card ">
                <div class="card-body">
                    <router-outlet></router-outlet>


                   <div class="container-buttons">
                        <button routerLink="/criacao-tickets" class="btn btn-light btn-rounded fs-5 border"
                            data-mdb-ripple-init>
                            Criar tickets
                        </button>

                        <button routerLink="/andamentos" class="btn btn-light btn-rounded fs-5 border"
                            data-mdb-ripple-init>
                            Tickets em andamentos
                        </button>

                        <button routerLink="/finalizados" class="btn btn-light btn-rounded fs-5 border"
                            data-mdb-ripple-init>
                            Tickets finalizados
                        </button>

                        <button routerLink="/historico" class="btn btn-light btn-rounded fs-5 border"
                            data-mdb-ripple-init>
                            Histórico de tickets
                        </button>
                    </div>




                </div>
            </div>



        </div>



        <div class="col-lg-9 centralizar topo  ">

            <div class="card cardDireita">
                <div class="card-body ">


                    


                </div>



            </div>
        </div>








    </div>







</div>