<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-body">
          <h3>Lista de Salas</h3>
          <div class="direita">
            <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="new()">
              Nova Sala
            </button>
          </div>
          <br />

          <table border="1" class="table table-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Número</th>
                <th>Andar</th>
                <th>Curso</th>
                <th>Quantidade de Alunos</th>
                <th>Quantidade de Professores</th>
                <th>AÇÕES</th>
              </tr>
            </thead>
            <tbody>
              @for (sala of lista; track $index) {
              <tr>
                <td>{{ sala.id }}</td>
                <td>{{ sala.numero }}</td>
                <td>{{ sala.andar }}</td>
                <td>{{ sala.curso.nome }}</td> <!-- Assumindo que Curso tem um campo 'nome' -->
                <td>{{ sala.alunos.length || 0 }}</td>
                <td>{{ sala.professores.length || 0 }}</td>
                <td class="">
                  <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="edit(sala)">
                    Editar
                  </button>
                  <button type="button" class="btn btn-danger btn-rounded" mdbRipple (click)="deleteById(sala)">
                    Deletar
                  </button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #modalSalaDetalhe>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
  </div>
  <div class="modal-body">
    <app-salasdetails [salas]="salaEdit" (retorno)="retornoDetalhe($event)"></app-salasdetails>
  </div>
</ng-template>